[submodule "dev-templates"]
	path = shells/dev-templates
	url = git@github.com:the-nix-way/dev-templates.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:noahfraiture/wallpapers.git
